<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to the Computerized Adaptive Testing Module</h1>
            <p>Experience our hand-picked tests from all over the world</p>
        </div>
    </header>
</div>

<a href="/taketest">Start Test!</a>

<% include partials/footer %>