<% include partials/header %>
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>


<h1>Question no: </h1>
<h1 id="qno">1</h1>
<h1>Choose any of the option</h1>

<fieldset id="optselect">
    <label class="radio-block"><input class="reqtype" type="radio" name="reqtype" value=1 onclick="tick(this.value);" >Correct Option</label>
    <label class="radio-block"><input class="reqtype" type="radio" name="reqtype" value=0 onclick="tick(this.value);" >Wrong Option</label>
    <label class="radio-block"><input class="reqtype" type="radio" name="reqtype" value=0 onclick="tick(this.value);" >Wrong Option</label> 
    <label class="radio-block"><input class="reqtype" type="radio" name="reqtype" value=0 onclick="tick(this.value);" >Wrong Option</label> 
</fieldset>
<br>
<button class="btn btn-success" onclick="startalg();">NEXT QUESTION!</button>

<form id="resultsform" action="/results" method="POST">
    <input type="number" name="results[0]" id="revision0" hidden>
    <input type="number" name="results[1]" id="revision1" hidden>
    <input type="number" name="results[2]" id="revision2" hidden>
    <input type="number" name="results[3]" id="revision3" hidden>
    <input type="number" name="results[4]" id="revision4" hidden>
    <input type="number" name="weights[0]" id="weight0" hidden>
    <input type="number" name="weights[1]" id="weight1" hidden>
    <input type="number" name="weights[2]" id="weight2" hidden>
    <input type="number" name="weights[3]" id="weight3" hidden>
    <input type="number" name="weights[4]" id="weight4" hidden>
</form>
<script src="/quest-too-hard-skipper.js" type="text/javascript"></script>
<% include partials/footer %>